language: python
python:
  - "2.7"
# command to run tests
script: 
  - nosetests test_creditsale.py
  - nosetests test_encryptedcreditsale.py
notifications:
	irc: 
		channels:
			- "chat.freenode.net#mozvat-dev"