language: python
python:
  - "2.7"
# command to run tests
script:  
  - nosetests test_giftsale.py
  - nosetests test_creditsale.py
  - nosetests test_encryptedcreditsale.py
  - nosetests test_encryptedgiftsale.py
notifications:
  irc: "chat.freenode.net#mozvat-dev"
  irc:
    channels:
      - "chat.freenode.net#mozvat-dev"
    template:
      - "---------TEST RESULTS------------"
      - "Repository: %{repository}"
      - "Author: %{author}" 
      - "Commit message: %{commit_message}"
      - "Build results: %{result}"
      - "Build number: %{build_number}"
      - "Build details: %{build_url}"
      - "Compare changes: %{compare_url}"
      - "-------------------------"
