language: python
python:
  - "2.7"
# command to run tests
script: 
  - nosetests test_creditsale.py
  - nosetests test_encryptedcreditsale.py
notifications:
  irc: "chat.freenode.net#mozvat-dev" 
    template:
      - "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}"
      - "Change view : %{compare_url}"
      - "Build details : %{build_url}"
